html, body 
{
  height: 100%;
  width: 100%;
}

/* background color of tabs */
#Home {background-color: red;}
#Members {background-color: #478778;}
#Discography {background-color: blue;}
#Social Media {background-color: orange;}
#Upcoming Events {background-color: purple;}



.h1
{
  text-align: center;
  font-family: 'Disclaimer', sans-serif;
  font-weight: normal;
  font-size: 300px;
}

.h2
{
  font-family: 'VOLTDECO V02', sans-serif;   
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.p1
{
  text-align: center;
  font-size: 70px;
  font-weight: lighter;
  font-family: 'VOLTDECO V02', sans-serif;                   
}

body, html 
{
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.tablink 
{
  background-color: #abd510;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 70px;
  font-size: 24px;
  width: 20%;
  text-align: center;
  white-space: nowrap;
  font-family: 'VOLTDECO V02', sans-serif;
}


.tablink:hover 
{
  background-color: #478778;
}


.tabcontent
{
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.8;  
}


table, th, td 
{
  border: 1px solid white;
  border-collapse: collapse;
}

th, td 
{
  background-color: #96D4D4;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
}


/* social media tab */

/*
.fa-renjun
.fa-jeno
.fa-haechan
.fa-jaemin
.fa-chenle
.fa-jisung
*/
